body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px 0;
}

.login-container {
    width: 700px;
    display: flex;
    box-shadow: 1px 1px 7px -2px grey;
    border-radius: 10px;
    overflow: hidden;
}
.login-container .login-left {
    background-image: url(../assets/images/login-bg-buildings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: white;
}
.login-left .login-title {
    font-size: 27px;
    margin: 0 0 15px 0;
}
.login-left .login-desc {
    font-size: 14px;
    line-height: 1.3;
}

.login-container .login-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
}
.login-right .logo {
    width: 25%;
}

.login-right .logo img {
    border-radius: 50%;
    width: 100%;
}
.login-right .mobile-title {
    display: none;
}

.login-right .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-group {
    margin-top: 10px;
}
.input-group input {
    margin: 5px 00 00 0;
}
.login-form .forgot-password {
    margin: 4px 0 00 0;
}
.login-form .forgot-password,
.new-user a {
    font-size: 14px;
    color: var(--primary);
    width: max-content;
}
.forgot-password:hover,
.new-user a:hover {
    text-decoration: underline;
}
.new-user {
    color: rgb(37, 37, 37);
}
.login-form button {
    margin: 20px 0 10px 0;
}

/* media queries */
@media screen and (max-width: 750px) {
    .login-container {
        width: 90%;
    }
}
@media screen and (max-width: 640px) {
    .login-container .login-left {
        display: none;
    }
    .login-container .login-right {
        width: 100%;
    }
    .login-right .mobile-title {
        display: block;
        margin: 3px 0 10px 0;

        font-size: 2rem;
    }
}
@media screen and (max-width: 350px) {
    .message {
        font-size: 14px;
    }
}
